
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.ca {
  color: pink;
  animation: bounce 1s infinite;
  align-items: center;
  justify-content: center;
  font-size: 100px
  
}
.p1{
  font-size: 25px;
}
.neon-box {
  margin-top: 10px;
 transform: translateY(-80px);
  padding: 20px 30px;
  color: rgb(162, 0, 255);
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgb(162, 0, 255);
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  
  box-shadow:
    0 0 5px  #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;
  animation: neonPulse 2s infinite alternate;
}

@keyframes neonPulse {
  0% {
    box-shadow:
      0 0 5px #0ff,
      0 0 10px #0ff,
      0 0 20px #0ff,
      0 0 40px #0ff;
  }
  100% {
    box-shadow:
      0 0 10px #0ff,
      0 0 20px #0ff,
      0 0 30px #0ff,
      0 0 60px #0ff;
  }
}
.neon-box1 {
  
  padding: 20px 30px;
  color: #0ff;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #0ff;
  border-radius: 10px;
  text-align: center;
  max-width: auto;
box-shadow:
    0 0 5px  rgb(9, 33, 255),
    0 0 10px rgb(9, 33, 255),
    0 0 20px rgb(9, 33, 255),
    0 0 40px rgb(9, 33, 255);
  animation: neonPulse1 2s infinite alternate;
}
@keyframes neonPulse1 {
  0% {
    box-shadow:
      0 0 5px  rgb(9, 33, 255),
      0 0 10px rgb(9, 33, 255),
      0 0 20px rgb(9, 33, 255),
      0 0 40px rgb(9, 33, 255);
  }
  100% {
    box-shadow:
      0 0 10px rgb(9, 33, 255),
      0 0 20px rgb(9, 33, 255),
      0 0 30px rgb(9, 33, 255),
      0 0 60px rgb(9, 33, 255);
  }
}
.arriba{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mi{
font-size: 30px;
}
.log{
  display: flex;
 justify-content: right;
 transform: translateY(-110px);
height: 400px;
width: auto;
transform: translatex(80px);
animation: rotarYbrincar 1s infinite alternate ease-in-out;
    
}
body{
  background: line-height(135deg, #667eea, #764ba2);
  
}
.neon-box2 {
  
 transform: translateY(80px);
  padding: 20px 30px;
  color: rgb(162, 0, 255);
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgb(162, 0, 255);
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  
  box-shadow:
    0 0 5px  #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;
  animation: neonPulse 2s infinite alternate;
}

.ma{
 justify-content: right;
 transform: translateY(-110px);
height: 450px;
width: auto;
transform: translatex(50px);
}
.logotipo{
  width: auto;
 height: 400px;
    animation: rotar-ligero 1s infinite alternate ease-in-out;
    display: inline-block;
}
@keyframes rotar-ligero {
    0% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
   @keyframes rotarYbrincar {
    0% {
      transform: rotate(-3deg) translateY(0px);
    }
    100% {
      transform: rotate(3deg) translateY(-10px);
    }
  }